body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header {
    color: blue;
    background-color: white;
    padding: 8px;
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



h1,
h2 {
    font-size: 22px;
}

h2 {
    color: whitesmoke;
}

img {
    width: auto;
    height: 90px;
    padding: 8px;
    border-radius: 25px;
    border: 2px solid blue;
   
}

ul {
    list-style: none;  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
}

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.title {
    padding: 8px;
    margin: 4px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.last {
    background-color: #e5e7eb;
    margin-top: auto;
    padding: 10px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    background-color: blue;
}

combine {
    display: inline-block;
    text-align: center;
    gap: 5px;
}

a {
    text-decoration: none;
}
