body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.header {
    color: blue;
    background-color: white;
    padding: 8px;
    margin: 4px
}

h1,
h2 {
    color: red;
    font-size: 22px;
}

img {
    width: 100px;
    height: auto;
    padding: 8px;
}

ul {
    list-style: none;  
    text-decoration: none;
}

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: #1f2937;
    color: white;
}

.title {
    background-color: blue;
    padding: 8px;
    margin: 4px
}

.last {
    background-color: #e5e7eb;
}

button {
    color: blue;
}